<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-drawer-container class="campaign-container">
  <div class="drawer-wrapper">
    <mat-drawer #drawer class="campaign-sidenav" mode="side" position="end">
      <mat-toolbar class="toolbar">
        <mat-icon (click)="drawer.toggle()">chevron_left</mat-icon><h3>Fill in the following</h3>
      </mat-toolbar>
      <form class="campaign-form" [formGroup]="accountForm" (ngSubmit)="onSubmit(); drawer.toggle()">
        <mat-toolbar class="bottom-toolbar">
          <button mat-button class="cancel" (click)="drawer.toggle(); cancel(accountForm)" type="button"><h3>Cancel</h3></button>
          <button mat-button class="submit" ><h3>Submit</h3></button>
        </mat-toolbar>
        <p>Change management Fee percentage if necessary</p>
        <mat-form-field class="campaign-full-width">
          <input matInput [errorStateMatcher]="matcher" formControlName="managementFeePercentage" [(ngModel)]="managementFee">
          @if (campaignFormControl.hasError('min') && !campaignFormControl.hasError('required')) {
            <mat-error>Please enter a valid number</mat-error>
          }
          @if (campaignFormControl.hasError('required')) {
            <mat-error>Budget number is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <p>What is the total allocated budget?</p>
        <mat-form-field class="campaign-full-width">
          <input type="number" matInput [errorStateMatcher]="matcher"
                placeholder="Ex. 7000" formControlName="budgetLimit">
          @if (campaignFormControl.hasError('min') && !campaignFormControl.hasError('required')) {
            <mat-error>Please enter a valid number</mat-error>
          }
          @if (campaignFormControl.hasError('required')) {
            <mat-error>Budget number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div class="addcampaign" >
          <button mat-icon-button (click)="drawerThree.toggle()" type="button">Add a new campaign<mat-icon>add</mat-icon></button>
        </div>
        <table mat-table #adsetTable [dataSource]="dataSource" class="mat-elevation-z2 campaign-table">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> 
              <span [style.paddingLeft.px]="20"> ID </span>
            </th>
            <td mat-cell *matCellDef="let data"> 
              <button mat-icon-button 
                      [style.visibility]="!data.expandable ? 'hidden' : ''"
                      [style.marginLeft.px]="data.level * 32"
                      (click)="treeControl.toggle(data)">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <strong>{{data.id}}</strong>
            </td>
          </ng-container> 
          <ng-container matColumnDef="campaign">
            <th mat-header-cell *matHeaderCellDef> 
              <span [style.paddingLeft.px]="20"> Campaign </span>
            </th>
            <td mat-cell *matCellDef="let data"> 
              <button mat-icon-button 
                      [style.visibility]="!data.expandable ? 'hidden' : ''"
                      [style.marginLeft.px]="data.level * 32"
                      (click)="treeControl.toggle(data)" type="button">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{data.campaign}}
            </td>
          </ng-container> 
        
          <ng-container matColumnDef="adset">
            <th mat-header-cell *matHeaderCellDef> Adset with IHS Audiences </th>
            <td mat-cell *matCellDef="let data"> {{data.adset}} </td>
          </ng-container> 

          <ng-container matColumnDef="dataFee">
            <th mat-header-cell *matHeaderCellDef> Data Fee Charged </th>
            <td mat-cell *matCellDef="let data"> {{data.dataFee / 100 | percent}}</td>
          </ng-container> 

          <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef > How much % is allocated? </th>
            <td mat-cell *matCellDef="let data"> {{data.percentage / 100 | percent}}</td>
          </ng-container> 
        
          <ng-container matColumnDef="action">
            <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
            <tr mat-row >
              <td mat-cell *matCellDef="let data" style="width:20%">
                <button mat-icon-button color="primary" (click)="drawerTwo.toggle(); selectedCampaign(data)" title="Add a new adset with IHS Audiences" *ngIf="data.campaign" type="button" ><mat-icon>add_circle_outline</mat-icon></button>
                <button mat-icon-button color="primary"  title="Remove Campaign" *ngIf="data.campaign" type="button"><mat-icon>delete</mat-icon></button>
              </td>
            <tr>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      

      </form>
    </mat-drawer>
    <mat-drawer #drawerTwo class="campaign-sidenav" mode="side" position="end">
      <mat-toolbar class="toolbar">
        <mat-icon (click)="drawerTwo.toggle()">chevron_left</mat-icon><h3>Add an ad set with IHS audiences</h3>
      </mat-toolbar>
      <form class="campaign-form" [formGroup]="adsetForm" (ngSubmit)="onSubmitAdset(); drawerTwo.toggle()">
        <mat-toolbar class="bottom-toolbar">
          <button mat-button class="cancel" (click)="drawerTwo.toggle(); cancel(adsetForm)" type="button"><h3>Cancel</h3></button>
          <button mat-button class="submit" ><h3>Submit</h3></button>
        </mat-toolbar>
        <p>How much ad apend of the campaign is allocated to this AD SET?</p>
        <mat-form-field class="campaign-full-width">
          <input type="number" matInput [errorStateMatcher]="matcher"
                value=30 formControlName="adsetDataFeePercentage">
          @if (campaignFormControl.hasError('min') && !campaignFormControl.hasError('required')) {
            <mat-error>Please enter a valid number</mat-error>
          }
          @if (campaignFormControl.hasError('required')) {
            <mat-error>Budget number is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <p>What is the data fee percentage charged for this AD SET?</p>
        <mat-form-field class="campaign-full-width">
          <input type="number" matInput [errorStateMatcher]="matcher" formControlName="adsetAllocationPercentage">
          @if (campaignFormControl.hasError('min') && !campaignFormControl.hasError('required')) {
            <mat-error>Please enter a valid number</mat-error>
          }
          @if (campaignFormControl.hasError('required')) {
            <mat-error>Budget number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </form>
    </mat-drawer>
    <mat-drawer #drawerThree class="campaign-sidenav" mode="side" position="end">
      <mat-toolbar class="toolbar">
        <mat-icon (click)="drawerThree.toggle()">chevron_left</mat-icon><h3>Add a campaign with IHS audiences</h3>
      </mat-toolbar>
      <form class="campaign-form" [formGroup]="campaignForm" (ngSubmit)="onSubmitCampaign(); drawerThree.toggle()">
        <mat-toolbar class="bottom-toolbar">
          <button mat-button class="cancel" (click)="drawerThree.toggle(); cancel(campaignForm)" type="button"><h3>Cancel</h3></button>
          <button mat-button class="submit" ><h3>Submit</h3></button>
        </mat-toolbar>
        <p>What percentage of the budget is allocated to this Campaign?</p>
        <mat-form-field class="campaign-full-width">
          <input type="number" matInput [errorStateMatcher]="matcher" formControlName="campaignAllocationPercentage">
          @if (campaignFormControl.hasError('min') && !campaignFormControl.hasError('required')) {
            <mat-error>Please enter a valid number</mat-error>
          }
          @if (campaignFormControl.hasError('required')) {
            <mat-error>Campaign allocation percentage is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div class="addcampaign" style="justify-content: start; opacity: unset;">
          <button mat-icon-button (click)="addCampaignAdset()" type="button">Click to add another ad set for this campaign with IHS Audience</button>
        </div>
        <ng-container formArrayName="adsetsArrayForm">
          <ng-container *ngFor="let campaignAdsetForm of adsetsArrayForm.controls; let i = index">
              <div class="array-form-row" [formGroupName]="i">
                  <mat-form-field >
                    <mat-label>How much is allocated to this asset?</mat-label>
                    <input matInput formControlName="campaignAdsetAllocationPercentage">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Data Fee Percentage</mat-label>
                    <input matInput formControlName="campaignAdsetDataFeePercentage">
                  </mat-form-field>
                  <button mat-icon-button color="primary"  title="Edit this account" (click)="deleteCampaignAdset(i)" type="button"><mat-icon>delete_forever</mat-icon></button>
              </div>
          </ng-container>
        </ng-container>
      </form>
    </mat-drawer>
    <mat-drawer #drawerFour class="campaign-sidenav" style=" padding: 20px;" mode="side" position="end">
      <mat-toolbar class="toolbar" style="margin-bottom: 30px">
        <mat-icon (click)="drawerFour.toggle()">chevron_left</mat-icon><h3>View the account</h3>
      </mat-toolbar>
      <p class=".page-title-subheading" >Management Fee</p>
      <mat-card style="margin-bottom: 30px">
        <mat-card-content>{{managementFee / 100 | percent}}</mat-card-content>
      </mat-card>
      <p class=".page-title-subheading">Budget Limit</p>
      <mat-card style="margin-bottom: 30px">
        <mat-card-content>{{budgetLimit | currency}}</mat-card-content>
      </mat-card>
      <p class=".page-title-subheading" >Campaigns with IHS Audiences</p>
      <table mat-table #adsetTable [dataSource]="dataSource" class="mat-elevation-z2 campaign-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> 
            <span [style.paddingLeft.px]="20"> ID </span>
          </th>
          <td mat-cell *matCellDef="let data"> 
            <button mat-icon-button 
                    [style.visibility]="!data.expandable ? 'hidden' : ''"
                    [style.marginLeft.px]="data.level * 32"
                    (click)="treeControl.toggle(data)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <strong>{{data.id}}</strong>
          </td>
        </ng-container> 
        <ng-container matColumnDef="campaign">
          <th mat-header-cell *matHeaderCellDef> 
            <span [style.paddingLeft.px]="20"> Campaign </span>
          </th>
          <td mat-cell *matCellDef="let data"> 
            <button mat-icon-button 
                    [style.visibility]="!data.expandable ? 'hidden' : ''"
                    [style.marginLeft.px]="data.level * 32"
                    (click)="treeControl.toggle(data)" type="button">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{data.campaign}}
          </td>
        </ng-container> 
      
        <ng-container matColumnDef="adset">
          <th mat-header-cell *matHeaderCellDef> Adset with IHS Audiences </th>
          <td mat-cell *matCellDef="let data"> {{data.adset}}</td>
        </ng-container> 

        <ng-container matColumnDef="dataFee">
          <th mat-header-cell *matHeaderCellDef> Data Fee Charged </th>
          <td mat-cell *matCellDef="let data"> {{data.dataFee / 100 | percent}}</td>
        </ng-container> 

        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef > How much % is allocated? </th>
          <td mat-cell *matCellDef="let data"> {{data.percentage / 100 | percent}}</td>
        </ng-container> 


        <tr mat-header-row *matHeaderRowDef="displayedViewColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedViewColumns;"></tr>
      </table>
    </mat-drawer>
  </div>
  <main class="main">
    <p>
      <mat-toolbar class="toolbar">
        <span>Accounts Budget App</span>
      </mat-toolbar>
    </p>
    <div class="content">
      <div>
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grid_on" color="primary"></mat-icon></div>
              <div> Analytics Dashboard 
                <div class="page-title-subheading"> This is an example dashboard created using build-in elements and components. </div>
              </div>
            </div>
          </div>
          <div class="button-container-wrapper" >
            <button mat-raised-button (click)="drawer.toggle(); reset()" class="demo-button">
              Add a new account
            </button>
          </div>
        </div>
      </div>
      
      <div class="table-wrapper">
        <table mat-table [dataSource]="accountsDataSource" class="mat-elevation-z8 campaing-table">
         
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
         
          <ng-container matColumnDef="adspend">
            <th mat-header-cell *matHeaderCellDef>Ad Spend</th>
            <td mat-cell *matCellDef="let element">{{element.adspend | currency}}</td>
          </ng-container>
        
          
          <ng-container matColumnDef="dataFee">
            <th mat-header-cell *matHeaderCellDef>Data Fee</th>
            <td mat-cell *matCellDef="let element">{{element.dataFee | currency}}</td>
          </ng-container>        
          
          <ng-container matColumnDef="managementDataFee">
            <th mat-header-cell *matHeaderCellDef>Management Fee</th>
            <td mat-cell *matCellDef="let element">{{element.managementDataFee | currency}}</td>
          </ng-container>
        
          <ng-container matColumnDef="totalSpent">
            <th mat-header-cell *matHeaderCellDef>Spent Total</th>
            <td mat-cell *matCellDef="let element">{{element.totalSpent | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="budgetLimit">
            <th mat-header-cell *matHeaderCellDef>Budget Limit</th>
            <td mat-cell *matCellDef="let element">{{element.budgetLimit | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
            <tr mat-row >
              <td mat-cell *matCellDef="let data" style="width:20%">
                <button mat-icon-button color="primary"  title="Edit this account" type="button" ><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="primary"  title="Remove Account" (click)="removeAccountRows(data)" type="button"><mat-icon>delete</mat-icon></button>
                <button mat-icon-button color="primary"  title="view Account" (click)="viewAccount(data); drawerFour.toggle()" type="button"><mat-icon>visibility</mat-icon></button>
              </td>
            <tr>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="accountsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: accountsDisplayedColumns;"></tr>
        </table>
      </div>
    </div>
  </main>
</mat-drawer-container>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
